.card {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f7f3e9;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(229, 231, 235, 0.3);
    position: relative;
  }
  
  .card-header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #005c69;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  