.content-area {
  transition: margin-left 0.3s ease;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}


.section {
  margin-bottom: 40px;
}

.section h2 {
  margin-bottom: 20px;
  margin-left: 0vw;
  color: #144040;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 980px) {
.section h2 {
  margin-left: 25vw;
}
}