.autograder-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: beige;
}

h1 {
    text-align: center;
    color: #333;
}

  
  .graderbot-logo {
    width: 100px; /* Adjust to an appropriate size */
    height: auto;
    margin-right: 20px; /* Space between the logo and title */
  }
  
  .graderbot-title {
      font-size: 2.5rem; /* Adjust title font size */
      margin: 0;
      color: #005c69;
  }
  
  .graderbot-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      color: #005c69;
      width: 100%;
      max-width: 800px;
      text-align: center;
      margin-bottom: 30px;
  }

#description {
    font-size: 16px;
    margin-bottom: 20px;
}

#description input {
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.layout-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: beige;
}

.box {
    background: #dcca98;
    border: 3px solid #144044;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h2 {
    margin-top: 0;
    font-size: 18px;
}

.upload-details {
    font-size: 14px;
    color: #222222;
}

#uploadButton,
#generate-button {
    background-color: #144044;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#uploadButton:disabled,
#generate-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.response-container {
    margin-top: 20px;
}

.response-container p {
    text-align: center;
    color: #144044;
}

.export-button {
    margin-top: 20px;
    text-align: center;
}
