/* src/components/FAQ.css */
.faq-section {
  padding: 100px 0;
  background: linear-gradient(to right, #114040 0%, #144c4c 100%);
  color: #dcca98;
}

.faq-section h2 {
  color: #dcca98;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.faq-section h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #d7c799 0%, #dcca98 100%);
  height: 4px;
  width: 60px;
  bottom: -10px;
  margin-left: -30px;
  left: 50%;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #dcca98; /* Dark background for contrast */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item.open {
  background-color: #ead081; /* Slight hover effect */
}

.faq-question {
  font-size: 1.2em;
  color: #114040;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  font-size: 1em;
  color: #114040;
  line-height: 1.5;
  display: none;
}

.faq-item.open .faq-answer {
  display: block;
}
