#privacy-policy .section-title h2 {
    text-align: left;
    font-weight: bold;
  }
  
  #privacy-policy .container h3 {
    text-align: left;
    font-weight: bold;
  }
  
  #privacy-policy .container p {
    text-align: left;
  }
  