@media screen and (max-width: 400px) {
  #features,
  #about,
  #services,
  /*#testimonials,*/
  #team,
  #contact,
  #footer {
    padding: 20px; /* Adjust padding as needed */
    width: auto;   /* Instead of a percentage over 100%, use auto */
    max-width: 100%; /* This ensures elements don't exceed the viewport width */
    box-sizing: border-box; /* Ensures padding is included in the element's width */
  }

  #portfolio {
    padding: 20px; /* Adjust padding as needed */
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
  }
}
