@media screen and (max-width: 400px) {
  #features {
/* Large devices */
.col-md-3 {
  width: 25%;
}

/* Medium devices */
.col-xs-6 {
  width: 50%;
}

/* Base mobile styles */
@media screen and (max-width: 767px) {
  .col-xs-6,
  .col-md-3 {
    /* Take full width on smaller screens */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem; /* Add some space between items */
  }

  .col-md-10.col-md-offset-1.section-title {
    margin-left: 0;
    width: 100%;
  }
}

  }
  #about,
  #services,
  /*#testimonials,*/
  #team,
  #contact,
  #footer {
    padding: 20px; /* Adjust padding as needed */
    width: auto;   /* Instead of a percentage over 100%, use auto */
    max-width: 100%; /* This ensures elements don't exceed the viewport width */
    box-sizing: border-box; /* Ensures padding is included in the element's width */
  }

  #portfolio {
    padding: 20px; /* Adjust padding as needed */
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
  /* Assuming this is the base style for larger screens */
.portfolio-items .col-sm-4 .col-md-3 .col-lg-3 {
  /* Your styles here */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 767px) {
  .portfolio-items .col-sm-4,
  .portfolio-items .col-md-3,
  .portfolio-items .col-lg-3 {
    /* This will make each assistant take full width on small screens */
    flex: 0 0 100%;
    max-width: 100%;
  }
}
  }
}
