/* GlossaryTooltip.css */

.custom-tooltip {
    background-color: #dcca98; /* Company background color */
    color: #144040;            /* Company text color */
    border: 1px solid #144040; /* Company border color */
    padding: 8px;
    font-size: 0.9em;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(20, 64, 64, 0.2); /* Adjusted shadow color */
  }
  
  .custom-arrow {
    color: #dcca98; /* Matches the tooltip background color */
  }
  